


.imageCard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
  flex-direction: column;

}

.cld-responsive{
  max-height: 70vh;
  max-width: min(750px, 100vh);
  
}